# Archivos de Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

# Archivos de compilación
*.dll
*.exe
*.pdb

# Configuraciones locales
appsettings.Development.json
appsettings.Local.json

# Logs
logs/
*.log

# Dependencias
packages/
node_modules/